* {
  margin: 0;
  padding: 0;
}

:root {

  --title-font: 'Press Start 2P', cursive;

  --body-font: 'Montserrat', sans-serif;

  --background-color: #282a36;

  --black: #212427;

  --selected-grid: #6272a4;

  --white: #f8f8f2;
}

body {
  align-items: center;
  background-color: var(--background-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font: 600 20px var(---body-font);
  justify-content: center;
  text-align: center;
}

.article-palette, .article-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}

.color {
  height: 50px;
  width: 50px;
}

#color-palette {
  align-items: center;
  justify-content: center;
}

#pixel-board {
  display: inline-block;
  width: 250px;  
}

.pixel, .pixel2 {
  background-color: rgb(255, 255, 255);
  border: solid 1px #000;
  display: inline-block;
  height: 40px;
  width: 40px;
}

button {
  padding: 0.75rem;
  margin: 0.5rem;
  width: 150px;
}

