.blue {
  background-color: blue
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.magenta {
  background-color: magenta;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}