* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(120,19,90);
  background: linear-gradient(162deg, rgba(120,19,90,1) 0%, rgba(21,3,23,1) 60%);
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}